
<!--Formulaire Ajout Todo-->
<ng-container *ngIf="!show" >
  <fieldset id='fieldsettodo' >
    <div appGreenSectionTitle><h1>{{title}}</h1></div>
		<input type="text" id="todoinput" name="todoname" >
		<button id="todobt" (click) = "ajouter()" type="button">
      <img src="../../assets/plus.jpg">
    </button>
    <button (click) = " supprimer () " id = "todobt"  type="button">
        <img src="../../assets/moins.jpg"> 
    </button>
    <br>
    <p id="demo">
      
    </p>
  </fieldset>
  <!--Validation sur le formulaire-->
  <ng-container *ngIf="vide" >
  <p id="demoerror">
     
  </p>
</ng-container>
  <button (click) = " toggle () " id = "bt">
      {{buttonName}}
  </button>
  
</ng-container>

<!--Liste des ToDo-->     
<ng-container *ngIf="show" >
    <div id="tabtodo"> 
        <div appGreenSectionTitle><h1>{{titre}}</h1></div>
        <table class="table table-striped">  
          <thead>
            <tr>
              <th style="text-align: center; background-color: gray">Id todo</th>
              <th style="text-align: center; background-color: gray">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let onetodo of liste">
              <td style="text-align: center;">{{(onetodo.id)+1}}</td>
              <td style="text-align: center;">{{onetodo.nom}}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <button (click) = " todoform () " id = "btretour">
          {{buttonNameRetour}}
       </button>
      
  </ng-container>
  <button id="unlogin" *ngIf="authstatut" (click) = "delog()" type="button">
      Se déconnecter
  </button>

