<fieldset id='fieldsetlogin' >
    <div appGreenSectionTitle><h1>{{title}}</h1></div>
    <label>Username: </label>
    <input type="text" id="username" name="username" >
    <br>
    <br>
    <label>Password: </label>
    <input type="password" id="password" name="Password" >
    <br>
    <br>
		<button id="login" *ngIf="!authstatut" (click) = "log()" type="button">
      Se connecter
    </button>
    <button id="unlogin" *ngIf="authstatut" (click) = "delog()" type="button">
        Se déconnecter
    </button>
</fieldset>

<p id="demo">

</p>


