<div class="panel panel-primary">
    <div class="panel-heading"><div appGreenSectionTitle>{{title}}</div></div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto, atque delectus, natus ut quae magni nam explicabo maxime nobis voluptatibus optio laborum dolor beatae ipsa dignissimos, aut recusandae. Odio.</p>
    </div>
</div>