
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img  src="../../assets/images 35.jpg"  alt="First slide">
                 </div>
                 <div class="carousel-item">
                   <img  src="../../assets/images20.jpg" alt="Second slide">
                 </div>
                 <div class="carousel-item ">
                   <img  src="../../assets/senegal1.jpg" alt="Third slide">
                 </div>
               </div>
             </div>
         <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
   
